.container {
    font-size: 30px;
   
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.my-form {
    border: 1px solid gray;
    padding: 40px;
    border-radius: 50px;
}
.log-in {
    font-size: 50px;
    color: blue;
}
